<h1>Task Helper</h1>

<% @tasks.each do |task| %>
<article>
  <h2> <%= link_to task.title, show_path(task.id)) %> </h2>
  <h3> Type: <%= task.description %> </h3>
  <p>
    <%= task.details %>
  </p>

  <p>
    <%= task.completion_status %>
  </p>

  <p>
    <%= task.completion_date %>
  </p>

  <ul>
    <li>
      <%= link_to "Edit", edit_path(@mytask.id) %>
    </li>
    <li>
       <%= button_to "Delete Task", {action: "destroy", id: @mytask.id}, method: :delete, data: {confirm: "Are you sure you want to delete this task?" }%>
    </li>
  </ul>
</article>
<% end %>

<nav>
  <ul>
    <li>
      <%= link_to "Add New Task", new_path %>
    </li>
  </ul>
</nav>
