<h1>Task Helper</h1>

<% @tasks.each do |task| %>
<article>
  <h2> <%= link_to task.title, show_path(task.id) %> </h2>
  <h3> Type: <%= task.description %> </h3>
  <p>
    <%= task.details %>
  </p>

  <p>
    Completion Status: <%= task.completion_status %>
  </p>
  <p>
    <%= task.completion_date %>
  </p>

  <ul>
    <li>
       <%= button_to "Delete Task", {action: "destroy", id: task.id}, method: :delete, data: {confirm: "Are you sure you want to delete this task?" }%>
    </li>
    <li>
       <%= button_to "Complete Task", mark_complete_path(task.id), {:method => :patch}%>
    </li>
    <li>
      <%= button_to "Edit Task", edit_path(task.id), {:method => :get} %>
    </li>
  </ul>
</article>
<% end %>

<%= render partial: "shared/footer" %>
