<h1>Task Completed</h1>
<article>
  <h2> <%= @mytask.title %> </h2>
  <h3> Type: <%= @mytask.description %> </h3>
  <p>
    <%= @mytask.details %>
  </p>
<h3>Completed On:<%= @mytask.completion_date %></h3>

  <ul>
    <li>
      <%= link_to "Home", index_path %>
    </li>
  </ul>
</article>
