<h1>Tasks#update</h1>

<h2><%= @title %></h2>
<h3><%= @description %></h3>
<p>
  <%= @details %>
</p>
<ul>
  <li>
    <%= @completion_status %>
  </li>
  <li>
    <%= @completion_date %>
  </li>
</ul>
